* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  border-radius: 0 0 100% 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.header-text {
  color: #fafeff;
  font-size: 2rem;
  font-weight: 600;
}

.container {
  display: grid;
  margin: 1rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: calc(1280px + 2rem);
  padding: 0 1rem;
  width: 100%;
  gap: 1rem;
}

@media (max-width: 1320px) {
  .container {
    gap: 2rem;
  }
}

@media (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.card {
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(205, 205, 205, 0.75);
  box-shadow: 0 0 1rem 1rem #2bf1fb0d;
  position: relative;
  border-radius: 1rem;
}

.card-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.card-image,
.card-text {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.card-image {
  display: flex;
  width: 100%;
  min-height: 495px;
  height: auto;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  border: 1px solid rgba(205, 205, 205, 0.75);
  transition: background-size 0.5s ease-in-out;
}

.card-image:hover {
  background-size: 110% auto;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0rem 1rem;
  color: #0a001b;
  margin-top: 46%;
  background: #fafeff;
  box-shadow: 0 0 4rem 6rem #fafeff;
}

.card-paragraph {
  margin-bottom: 5rem;
}

.card-buttons {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 0.5rem;
}

.card-button {
  background: #fafeff;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100% 100% 0 0;
  height: 2.5rem;
}

footer > p > a {
  text-decoration: none;
  color: antiquewhite;
  border-radius: 8px;
  padding: 3px;
}

footer > p > a:hover {
  background-color: antiquewhite;
  color: black;
  transition: 0.3s;
}
.to-do-list {
  background-image: url('../images/to-do-list.png');
}

.carrinho-de-compras {
  background-image: url('../images/carrinho-de-compras.png');
}

.jogo-da-adivinhacao {
  background-image: url('../images/jogo-da-adivinhacao.png');
}

.dom {
  background-image: url('../images/dom.png');
}

.intro-css {
  background-image: url('../images/intro-css.png');
}

.intro-html {
  background-image: url('../images/intro-html.png');
}
